.section-form {
    position: relative;
    background-image: url(./img/footer/fwef.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: rgba(25, 56, 55, 0.35);
    }
}
.section-form::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.35);
}

.form-title {
    font-family: Cormorant;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    color: #fff;
    margin-bottom: 16px;
}

.form-text {
    width: 825px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 24px;
}

.form-input-name {
    width: 350px;
    height: 45px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 24px;
    padding: 0 0 0 16px;
    background-color: #fff;
}

.form-input-gmail {
    width: 350px;
    height: 45px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 24px;
    padding: 0 0 0 16px;
    background-color: #fff;
}

